:root {
  font: 16px / 1 sans-serif;
  /* SDG Colors */
  --bright-sky: #80ced2;
  --night-sky: #85577e;
  --sun: #d5562b;
  --sea: #5a9090;
  --sand: #f7f0da;
  --asphalt: #2f3737;
  --lime: #b1d133;
  --tangerine: #f99d1b;
  /* Favicon Colors */
  --big-d: #00b7ff;
  --cessna: #5e5e5e;
  --orange-sun: #f15a24;
  --yellow-sun: #fcee21;
  --cyan-ocean: #00bfe9;
  --blue-ocean: #00217f;
  /* Custom Webpage Colors */
  --pale-green: #e1eedd;
  --mando-blue: #1857a4;
  --slate: #c8d8e4;
  /* Auto Colors */
  --beau-blue: #c8d8e4ff;
  --honeydew: #e1eeddff;
  --lapis-lazuli: #336699ff;
  --charcoal: #2f4858ff;
  --international-orange-aerospace: #fe5d26ff;
  --amazon: #4a7c59ff;
  --copper: #a8763eff;
  --bdazzled-blue: #1857a4ff;
  --byzantium: #7a3b69ff;
  /* Custom Text Colors */
  font-family: 'Open Sans';
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 600ms;
}

html {
  height: 100%;
}

body {
  margin: 0;
  background-image: url('https://www.cityofgreenislemn.org/wordpress/wp-content/uploads/2019/11/920449-large-winter-background-images-2560x1600-for-android-40.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  height: 400px;
  background-image: linear-gradient(135deg, #79f1a4 10%, #0e5cad 100%);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 3px solid black;
}

.header-text {
  height: auto;
  width: 300px;
  border-bottom: var(--copper) 5px solid;
}

header h1 {
  font-size: 35px;
  padding-bottom: 0;
  margin-bottom: 0;
}

header h1:hover {
  color: white;
  overflow: hidden;
}

header img {
  padding-top: 5px;
  height: 200px;
  width: auto;
}

svg {
  bottom: 0;
  width: 100%;
  height: 116px;
}

@media (max-width: 699px) {
  .svg--lg {
    display: none;
  }
}

@media (min-width: 700px) {
  .svg--sm {
    display: none;
  }
}

.snowflake {
  color: #fff;
  font-size: 2.5em;
  font-family: Arial;
  text-shadow: 0 0 1px #000;
  display: none;
}

.logo:hover ~ .snowflake {
  display: block;
}

@keyframes snowflakes-fall {
  0% {
    top: -10%;
  }
  100% {
    top: 100%;
  }
}

@keyframes snowflakes-shake {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(80px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes snowflakes-fall {
  0% {
    top: -10%;
  }
  100% {
    top: 100%;
  }
}

@keyframes snowflakes-shake {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(80px);
  }
  100% {
    transform: translateX(0px);
  }
}

.snowflake {
  position: fixed;
  top: -10%;
  z-index: 9999;
  cursor: default;
  animation-name: snowflakes-fall, snowflakes-shake;
  animation-duration: 10s, 3s;
  animation-timing-function: linear, ease-in-out;
  animation-iteration-count: infinite, infinite;
  animation-play-state: running, running;
}

.snowflake:nth-of-type(0) {
  left: 1%;
  animation-delay: 0s, 0s;
}

.snowflake:nth-of-type(1) {
  left: 10%;
  animation-delay: 1s, 1s;
}

.snowflake:nth-of-type(2) {
  left: 20%;
  animation-delay: 6s, 0.5s;
}

.snowflake:nth-of-type(3) {
  left: 30%;
  animation-delay: 4s, 2s;
}

.snowflake:nth-of-type(4) {
  left: 40%;
  animation-delay: 2s, 2s;
}

.snowflake:nth-of-type(5) {
  left: 50%;
  animation-delay: 8s, 3s;
}

.snowflake:nth-of-type(6) {
  left: 60%;
  animation-delay: 6s, 2s;
}

.snowflake:nth-of-type(7) {
  left: 70%;
  animation-delay: 2.5s, 1s;
}

.snowflake:nth-of-type(8) {
  left: 80%;
  animation-delay: 1s, 0s;
}

.snowflake:nth-of-type(9) {
  left: 90%;
  animation-delay: 3s, 1.5s;
}

section {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url('https://www.westonschools.org/middle/wp-content/uploads/sites/5/2018/12/Winter-Wallpaper-Full-HD-WSW20214601.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  justify-content: center;
  display: flex;
  overflow: hidden;
}

.section-picture {
  transform: translateY(65px);
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(135deg, #ffd26f 10%, #3677ff 100%);
}

.current-word {
  letter-spacing: 10px;
  font-size: 40px;
  text-transform: capitalize;
}

.letter-button {
  text-transform: uppercase;
  margin-left: 5px;
  cursor: pointer;
}

.letter-button:hover {
  background-color: transparent;
}

.letter-button:disabled {
  cursor: not-allowed;
}

.letter-button:disabled:hover {
  background-color: red;
}

.guess-letters {
  align-self: flex-start;
  font-size: large;
  width: fit-content;
}

.guess-letters:hover {
  color: white;
}

// .reset-button {

// }
